@font-face {
  font-family: 'RotondaC';
  src: url('~@/assets/fonts/RotondaC-Bold.woff2') format('woff2'),
  url('~@/assets/fonts/RotondaC-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RotondaC';
  src: url('~@/assets/fonts/RotondaC.woff2') format('woff2'),
  url('~@/assets/fonts/RotondaC.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
