// шрифты
$rotondaC: "RotondaC", "Arial", sans-serif;

// цвета
$color_text: #26303B;
$color_accent: #7DB945;
$color_border: #D0D4CD;
$color_white: #FFFFFF;
$color_bg_dark: #043E44;
$color_bg_light: #f5f5f5;
$color_error: #ff0000;

// размеры
$width-xs: 320px;
$width-xs-only: 575px;
$width-sm: 576px;
$width-md: 768px;
$width-md-only: 1023px;
$width-xl: 1024px;
$width-xxl: 1440px;